/*search page*/


.cntr {
  display: table;
  width: 100%;
  height: 100%;
  direction:rtl;
}
.cntr .cntr-innr {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
/*** STYLES ***/
.search {
  display: inline-block;
  position: relative;
  height: 35px;
  width: 200px;
  box-sizing: border-box;
  margin: 0px 8px 7px 0px;
  padding: 7px 9px 0px 9px;
  border: 3px solid #02636F;
  border-radius: 25px;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  cursor: text;
  background-color:#E0DB97;
}


/*
.search:after {
  content: "";
  position: absolute;
  width: 3px;
  height: 20px;
  right: -5px;
  top: 21px;
  background: #015103;
  border-radius: 3px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: all 200ms ease;
          transition: all 200ms ease;
}
*/


.search.active,
.search:hover {
  width: 200px;
  margin-right: 0px;
}
.search.active:after,
.search:hover:after {
  height: 0px;
}
.search input {
  width: 100%;
  border: none;
  box-sizing: border-box;
  font-family:"byekan";
  font-size: 15px;
  color: inherit;
  background: transparent;
  outline-width: 0px;
  top:-4px;
  font-weight:bold;
  color:#044E6C;
}

/*filter list*/

.filter-list{
	margin-top:40px;
	margin-bottom:50px;
}

.filter-div {
    display: none;
	margin-left:auto;
	margin-right:auto;
	vertical-align:central;
	text-align:center;
	background:#5E0203;
	width: 200px;
	margin-top:6px;
	border-radius:7px;
	border: solid #015082 2px;
	border-left:hidden;
	border-right:hidden;
	border-top:hidden;
	direction:rtl;
}

.filter-div a{
	color:#fff;
	font-family:'byekan';
	font-size:15px;
}
